/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -----------------------------------------
            Custom Styles
-------------------------------------------- */

body {
    font-size: 16px;
    background: #aad4cf;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    background: #cee4e2;
}

img {
    width: 100%;
}

/*Styling the banner*/
.banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3.375rem;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);

}

.header {
    position: relative;
    text-align: center;
    color: white;
}

/* Selecting multiple elements to add same style*/
h1,
h2,
h3,
h4 {
    font-weight: bold;
    /* top left-right bottom */
    margin: 1em 0 0.5em;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    margin-left: 6px;
}

/*Styling the navigation*/
.navigation {
    text-align: center;
}

.navigation ul {
    display: inline-flex;
    list-style: none;
}

.navigation ul li a {
    text-decoration: none;
    position: relative;
    color: black;
    font-weight: bold;
    font-size: 17px;
    padding-right: 170px;
    padding-left: 170px;
    border-right: 1px solid grey;
}

.navigation ul li:last-child a {
    border-right: none;
}

/*Styling the unordered list items in the article*/
article ul {
    list-style-type: disc;
    list-style-position: inside;
}

/*Styling the small image*/
.small-image {
    display: inline-block;
    max-width: 280px;
    max-height: 300px;
}

.content img {
    width: 35%;
    float: left;
    margin-right: 1em;
}


/*Styling the form and textareas in Contact to learn more form*/
.form {
    box-shadow: 0px 0px 2px 1px black;
    padding: 10px;
}

input[type=text],
textarea {
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 4px;
    margin-left: 6px;
    margin-right: 6px;
   
}

div {
    background-color: #cee4e2;
    padding: 6px;
}

.form label {
    margin-left: 6px;
    margin-right: 12px;
}

/*Styling Send button*/
.btn {
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #cee4e2;
    margin-left: 16px;
    padding: 6px;
}

/*Styling copyright information in the footer*/
.copyright {
    margin-top: 12px;
    text-align: right;
    
}