/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -----------------------------------------
            Custom Styles
-------------------------------------------- */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

a,
a:link,
a:visited {
  color: inherit;
}


nav ul a:hover,
nav ul a:focus {
  background-color: #C78C06;
  color: #222;
}

.nav {
  box-sizing: border-box;
  margin: 0 auto;
  border: 10px solid #222;
  line-height: 1;

}

.nav .logo {
  text-align: left;
  padding: 0;
}

.nav .home {
  background-color: #C78C06;
  color: #222;

}

.nav-list input[type="text"] {
  width: 85%;
  padding-top: 10px;
}

.nav-list li:nth-child(3) {
  color: #C78C06;
}

.nav-list li:nth-child(4) {
  color: #C78C06;
}

.nav-list li:nth-child(5) {
  color: #C78C06;
}

.nav-list li:nth-child(6) {
  color: #C78C06;
}

.nav .im {
  background-color: #222;
  color: #C78C06;
  font-size: 22px;
  padding: 0;
  margin: 0;
}


h1,
h2,
h3,
h4 {
  font-weight: bold;
  /* top left-right bottom 
  margin: 1em 0 0.5em;*/
}

h1 {
  font-size: 3.375rem;
}

h2 {
  font-size: 2.25rem;
  margin-top: 15px;
}

h3 {
  font-size: 1.5rem;
  margin-top: 20px;
  padding-left: 15px;
}

h4 {
  padding-left: 15px;
}

p {
  /* top-bottom left-right */
  margin: 1em 1em;
}

.container {
  margin: 0 auto;
  padding: 1em;
}

.navbanner {
  width: 100%;

}

.nav-list ul {
  display: inline-flex;
  margin: 0 auto;
}

/* Navigation */
.nav-list li {
  border: none;
  text-align: center;
  background-color: #222;
  text-decoration: #C78C06;
  flex: 1;
}

/* LoVe HAte */

.nav-list a,
.nav-list a:link,
.nav-list a:visited {
  display: block;
  padding: 1em 0;
  text-decoration: none;
}


.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current {
  background-color: #C78C06;
}

.logo {
  display: inline-block;
}

.banner {
  background: grey url("../images/main-banner.jpg") no-repeat center center;
  background-size: cover;
}

.internalbanner {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  width: 65%;
  /*text-align: center;*/
  background-color: rgba(0, 0, 0, 0.6);

}

.internalbanner h1 {
  margin: 6px;
  padding-left: 10px;
  color: white;
  font-weight: bold;

}

.internalbanner p {
  margin: 6px;
  padding-left: 10px;
  color: white;
}

.internalbanner .btn {
  text-decoration: none;
  padding-left: 10px;
  display: inline-block;
  background-color: #C78C06;
  border: 2px solid #222;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  color: #222;
  font-size: 1.2rem;
}

.aboutus {
  background-color: #ffe6ac;
  display: inline-block;
  justify-content: left;

}

.aboutuscontent2 h2 {
  text-align: left;
  padding: 15px;
}

.aboutuscontent img {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

/*Our Services Section*/

.services {
  display: grid;
  border-radius: 4px;
  margin-bottom: 1em;
  /*background-color: #ffe6ac;*/
  margin-bottom: 20px;
  margin-top: 15px;
  background-color: white;
  gap: 10px;
}

.services img {
  width: 100%;
}

.services .btn {
  background-color: #222;
  color: white;
  border: 2px solid #222;
  border-radius: 2px;
  padding: 15px;
  margin: 15px;
  text-decoration: none;
  padding-left: 10px;
  display: inline-block;

}

.services h2 {
  background-color: white;
}

.services h3 {
  margin-top: 20px;
  font-weight: bold;
}

.services>div {
  background-color: #ffe6ac;
}

/* Our Vision section */
.ourvision {
  background: grey url("../images/vision.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}

.ourvisioncontent h3 {
  padding-top: 20px;
  padding-left: 15px;
  font-weight: bold;
}


.btnvision {
  text-decoration: none;
  display: inline-block;
  border: 2px solid #222;
  padding: 20px;
  margin: 15px;
  color: white;
  font-size: 1.2rem;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #C78C06;
}

/*Team Section*/

.ourteamcontent {

  display: flex;
  flex-flow: row wrap;
}

/* .ourteamcontent div {
    flex: 1;       
  }*/

.ourteamjohn {
  background-color: #ffe6ac;
}

.ourteambob {
  background-color: #ffe6ac;

}

.ourteamcontent img {
  width: 100%;

}

.ourteamcontent hr {
  display: block;
  /*margin-top: 0.5em;*/
  margin-bottom: 0.5em;
  margin-left: 10px;
  margin-right: 10px;
  border-style: inset;
  border-color: #C78C06;
  border-width: 2px;
}

/*Contact section*/

.contact{
  display: grid;
  /*margin-bottom: 10px;*/
}

.contact .sbmtbtn {
  background-color: #222;
  color: #C78C06;
  font-size:1.5rem;
  margin-top:10px;
  padding: 5px;
}

/*Styling the form and textareas*/
.form {
  padding: 10px;
  width: 100%;
}

.form input[type=text],
textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
 }

 .form>div{
   margin-top: 10px;
 }

.form h3 {
  padding-left: 0;
}

/*Styling the table*/




.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
   }

.table caption {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 10px;
}

table th:nth-child(n),
table td:nth-child(n) {
  /* 3 digit hex */
  border: 1px solid #222;
}

.table th {
  background-color: #ffe6ac;
  text-align: center;

}

.table tr {
  text-align: left;
  width: 100%;

}
/*styling map*/
iframe{
  width: 100%;
}

.site-footer {
  background-color: #222;
  color:#C78C06;
  text-align: left;
  margin-top: 1.5em;
  padding: 1em ;
}

/*.footer-content p {
  margin:0;
}*/

/* --------------------------------------
            Desktop Styles
----------------------------------------- */
@media screen and (min-width:760px) {
  html {
    font-size: 16px;
  }


  .navbanner {
    width: 100%;
    /*margin: 0 auto;*/
    /*padding: 1em;*/
    background-color: #222;
    box-sizing: border-box;

  }

  /* Navigation */
  .nav-list {
    display: flex;
  }

  .nav-list li {
    flex: 1;
    border: none;
  }

  .nav-list ul {
    max-width: 1000px;
    margin: 0 auto;
  }

  .nav-list li:nth-child(2) {
    display: inline-block;
    width: 5%;
    padding-left: 1em;
    box-sizing: border-box;
  }

  .nav-list .logo {
    text-align: center;
  }

  .internalbanner {
    max-width: 1000px;
    margin: 0 auto;
  }

/*About Us Section*/
  .aboutuscontent {
    display: flex;
    flex-direction: row;
    /*max-width: 1000px;*/
    margin: 0 auto;
    align-content: center;

    /* flex-grow: 1;*/
    /*flex-wrap:wrap;*/

  }

  .aboutus {
    background-color: #ffe6ac;

  }
  .aboutuscontent img {
    order: 1;
    min-width: 50%;
  }

  .aboutuscontent2 {
    order: 2;
    min-width: 50%;

  }

  .services {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    margin-bottom: 20px;
    background-color: white;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "head head head head head head"
      "digital digital digital marketing marketing marketing"
      "video video web web print print"
    ;
    gap: 10px;
  }

  .services h2 {
    grid-area: head;
  }

  .services .digital {
    grid-area: digital;
  }

  .services .marketing {
    grid-area: marketing;
  }

  .services .video {
    grid-area: video;
  }

  .services .web {
    grid-area: web;
  }

  .services .print {
    grid-area: print;
  }


  .services h3 {
    margin-top: 10px;
    font-size: 1.5rem;
  }



  .services>div {
    background-color: #ffe6ac;
  }

/*Our Vision*/
  .ourvisioncontent {
    max-width: 1000px;
    margin: 0 auto;
  }

  /*Team Section*/

  .ourteamcontent {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
  }

  /*flex-wrap: wrap;*/


  .ourteamcontent h2 {
    flex-basis: 100%;
    order: 1;
  }

  .image-john {
    flex-basis: 50%;
    max-width: 50%;
    order: 2;
  }

  .ourteamjohn {
    max-width: 50%;
    flex-basis: 50%;
    order: 3;
  }

  .ourteambob {
    max-width: 50%;
    flex-basis: 50%;
    order: 4;
  }

  .image-bob {
    max-width: 50%;
    flex-basis: 50%;
    min-width: 50%;
    order: 5;
    max-height: 50%;
    object-fit: cover;


  }

  /*styling contact us */

  .contact{
    max-width: 1000px;
    margin: 0 auto;
  }

  .contactuscontent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "head head"
      "form maps"
      "table table"
    ;
    gap: 1em;
  }


  .contactuscontent h3 {
    grid-area: head;
  }

  .contactuscontent .form {
    grid-area: form;
  }

  .contactuscontent .maps {
    grid-area: maps;
  }

  .contactuscontent .table {
    grid-area: table;
  }

  /*styling form */

  .form input[type=text],
  textarea {
    max-width: 1000px;
    width: 100%;
    /*width: fit-content;*/
  }

  .footer-content {
   max-width: 1000px;
   margin: 0 auto;
  }

     

}